.bouton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    display: inline;
}

.bouton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.bouton:active {
	position:relative;
	top:1px;
}

html{
    background-color: #79bcff49;
    text-align: center;
}

*{
    font-family: 'Bebas Neue', cursive;
}

h1{
    color: #1564ad;
    font-size: 2em;
}
.jours{
    display: inline-block;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between ;
}

